<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<h1><%=folder.name%></h1>

		<%-include("./partials/create",{folder:folder}) %>
		<%-include("./partials/fileupload",{folder:folder}) %>
		<div>
			<% folders.forEach((f) => { %>
			<h2><a href="/myfiles/<%=f.id%>"><%=f.name%></a></h2>
			<form action="/myfiles/delete/<%=f.id%>" method="POST">
				<button
					onclick="return confirm(`Are you sure you wish to delete this folder?\nThis will delete ALL files / folder within!`)"
				>
					Delete
				</button>
			</form>
			<a href="/myfiles/update/<%=f.id%>">Edit</a>
			<% }); %> <% files.forEach((f) => { %>
			<p><%=f.name%></p>
			<p><%=f.folderId%></p>
			<% }) %>
		</div>
	</body>
</html>
